body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-size: 300%;
    animation: backgroundMove 10s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes backgroundMove{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 100%;
    }
}

.espera{
    position: relative;
}

.espera img{
    width: 300px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    top: -90px;
    left: -150px;
}

#arco{
    animation: scale 1s;
}

@keyframes scale{
    0%{transform:  rotate(0)}
    5%{transform:  rotate(18deg);}
    10%{transform: rotate(36deg);}
    15%{transform: rotate(54deg);}
    20%{transform: rotate(72deg);}
    25%{transform: rotate(90deg)}
    30%{transform: rotate(108deg);}
    35%{transform: rotate(126deg);}
    40%{transform: rotate(144deg);}
    45%{transform: rotate(162deg);}
    50%{transform: rotate(180deg);}
    55%{transform: rotate(198deg);}
    60%{transform: rotate(216deg);}
    65%{transform: rotate(234deg);}
    70%{transform: rotate(252deg);}
    75%{transform: rotate(270deg);}
    80%{transform: rotate(288deg);}
    85%{transform: rotate(306deg);}
    90%{transform: rotate(324deg);}
    95%{transform: rotate(342deg);}
    100%{transform:rotate(360deg);}
}